a:hover{
    text-decoration: underline;
    color: red;
    text-shadow: 10px 10px 5px #000000; 
} 
#button:hover {
    color: red;
}
#navbutton:hover,li:hover{ 
    background-color: blue;
    color: white;
}

.navibar,nav, section, .hero{
    box-shadow: 5px 5px 10px 1px #000000;
}

.navbar-item { 
    display: flex;
    justify-content: center; 
  }
 
#services{   
    background-color: black; 
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#card {
    display:flex;
    justify-content: center;
}
.hero{
    display: flex;
    justify-content: center;
}
